---
layout: default
permalink: /404.html
---

<!DOCTYPE html>
<html>

{% include head.html %}
<style type="text/css">
  .not-found {
    width: 30% !important;
  }
</style>
<body>

  {% include header.html %}
  
  <br>
  <br>
  <br>
  <div class="site-header-container">
    <header class="site-header">
      <h3><span class="title">Page not found</span></h3>
    </header>
  </div>
  <a href="https://gracieledamasceno.github.io/dev-on-track"><img src="/dev-on-track/assets/dev on track!.gif" alt="website logo" class="center not-found" ></a>
<br>
<br>
</body>
</html>